# Ansible settings
export ANSIBLE_HOSTS=/home/myuser/devel/ate/hosts

# Twilio account keys
export TWILIO_ACCOUNT_SID='' # found on your Twilio account page
export TWILIO_AUTH_TOKEN='' # also found on Twilio account page, keep secret!
export TWILIO_NUMBER='' # format: +12025551234
export ALERT_NUMBER='' # format: +12025551234

# Hipchat token - this MUST be the v1 API token, not v2
export HIPCHAT_AUTH_TOKEN=''
export HIPCHAT_ROOM=''
